<h1>All Blog Posts</h1>
{{#if logged_in}}
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
{{else}}
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
{{/if}}

{{#each serialized_posts}}
  <div>
    <h2>{{title}}</h2>
    <p>By {{user.username}}</p>
    <p>{{content}}</p>
    <p>{{date_created}}</p>
  </div>

  {{#each comments}}
    <div>
      <p>{{user.username}} commented on {{../title}}:</p>
      <p>{{content}}</p>
      <p>{{date_created}}</p>
    </div>
  {{/each}}

{{/each}}
